## FILTER, MAP AND REDUCE

In [1]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [3]:
def is_odd(x):
    return x % 2 != 0

In [4]:
list(filter(is_odd, numbers))

[3, 7, 1, 9, 5]

In [5]:
# use list comprehension
[item for item in numbers if item % 2 != 0]

[3, 7, 1, 9, 5]

In [6]:
# using lambda
list(filter(lambda x: x%2 != 0, numbers))

[3, 7, 1, 9, 5]

In [15]:
sqr =lambda x: x**2
sqr(2)

4

In [16]:
sqr(3)

9

## map
Mapping a Sequenceâ€™s Values to New Values

In [17]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [19]:
list(map(lambda x: x**2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

#### Combining filter and map

In [22]:
list(map(lambda x: x**2, filter(lambda x: x% 2 != 0, numbers)))

[9, 49, 1, 81, 25]

In [24]:
list(map(lambda x: x*x, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [25]:
def count_vowels(sentence):
    return sum(sentence.count(vowel) for vowel in 'AEIOUaeiou')

In [26]:
count_vowels('Olusola')

4

## Use <em>zip</em> to cmbine multiple iteratables

In [27]:
names = ['Bob', 'Sue', 'Amanda']
grade_point_averages = [3.5, 4.0, 3.75]
for name, grade in zip(names, grade_point_averages):
    print(f'Name={name}; GPA={grade}')

Name=Bob; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75