## Nested Lists

In [138]:
couples =[['Beyonce', 'Jay-Z'], ['Naomi', 'Festus'], ['Jonny','June'], ['John', 'Yoko'], ['Will','Jada']]

In [139]:
couples

[['Beyonce', 'Jay-Z'],
 ['Naomi', 'Festus'],
 ['Jonny', 'June'],
 ['John', 'Yoko'],
 ['Will', 'Jada']]

In [140]:
len(couples)

5

In [141]:
couples[1]

['Naomi', 'Festus']

In [142]:
couples[1][0]

'Naomi'

In [143]:
couples

[['Beyonce', 'Jay-Z'],
 ['Naomi', 'Festus'],
 ['Jonny', 'June'],
 ['John', 'Yoko'],
 ['Will', 'Jada']]

In [144]:
# Access Yoko
couples[3][1]

'Yoko'

In [145]:
# Access all element of list
for couple in couples:
    for person in couple:
        print(f'Sending invitation to ...{person}')

Sending invitation to ...Beyonce
Sending invitation to ...Jay-Z
Sending invitation to ...Naomi
Sending invitation to ...Festus
Sending invitation to ...Jonny
Sending invitation to ...June
Sending invitation to ...John
Sending invitation to ...Yoko
Sending invitation to ...Will
Sending invitation to ...Jada

### List Operations

In [146]:
# concatenation
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [147]:
evens =[2,4,6]
odds = [1,3,5]

In [148]:
odds + evens

[1, 3, 5, 2, 4, 6]

In [149]:
combined=odd_and_even= odds+ evens
print(combined)
print(odd_and_even)

[1, 3, 5, 2, 4, 6]
[1, 3, 5, 2, 4, 6]

In [150]:
# Repeating original list
odds *3

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [151]:
odds

[1, 3, 5]

In [152]:
'h1' * 10

'h1h1h1h1h1h1h1h1h1h1'

### in operator to compare content

In [153]:
"a" in "happy"

True

In [154]:
5 in evens

False

In [155]:
5 in odds

True

In [156]:
# sentinel loop
flavors =['chocolate', 'vanilla', 'lemon', 'strawberry']
response = input('What flavor would you like? ')

while response.lower() not in flavors:
    response= input("I don't know that flavor! Try again: ")

print(f'You choose {response.lower()}')

You choose lemon

### Sort(), reverse() and count()

In [157]:
langs=['Python', 'C', "JavaScript", "C"]
langs

['Python', 'C', 'JavaScript', 'C']

In [158]:
langs.count('C')

2

In [159]:
langs.count('JavaScript')

1

In [160]:
langs.reverse()
langs

['C', 'JavaScript', 'C', 'Python']

In [161]:
langs

['C', 'JavaScript', 'C', 'Python']

In [162]:
langs.sort()

In [163]:
langs

['C', 'C', 'JavaScript', 'Python']

In [164]:
nums = [3,45,-4,6,8,1,2]
sorted(nums)

[-4, 1, 2, 3, 6, 8, 45]

In [165]:
nums

[3, 45, -4, 6, 8, 1, 2]

In [166]:
nums.sort()

In [167]:
nums

[-4, 1, 2, 3, 6, 8, 45]

In [168]:
nums.reverse()
nums

[45, 8, 6, 3, 2, 1, -4]

In [169]:
nums = [3,45,-4,6,8,1,2]
nums

[3, 45, -4, 6, 8, 1, 2]

In [170]:
ascii?

Signature: ascii(obj, /)
Docstring:
Return an ASCII-only representation of an object.

As repr(), return a string containing a printable representation of an
object, but escape the non-ASCII characters in the string returned by
repr() using \\x, \\u or \\U escapes. This generates a string similar
to that returned by repr() in Python 2.
Type:      builtin_function_or_method

In [171]:
id(34)

2641807475984

In [172]:
id(True)

140731943963496

In [173]:
id([])

2641894873344

In [174]:
id([])

2641895577152

In [175]:
id(nums)

2641895871232

In [176]:
id(nums)

2641895871232

In [177]:
list2 = nums

In [178]:
list2

[3, 45, -4, 6, 8, 1, 2]

In [179]:
nums

[3, 45, -4, 6, 8, 1, 2]

In [180]:
nums1=[1,2,3,4]
nums2=nums1

In [181]:
id(nums1)

2641895822592

In [182]:
id(nums2)

2641895822592

In [183]:
nums1.append(5)

In [184]:
nums1, nums2

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [185]:
id(nums1), id(nums2)

(2641895822592, 2641895822592)

### Comparing Lists: == vs is

In [186]:
nums3=[1, 2, 3, 4, 5]

In [187]:
nums1

[1, 2, 3, 4, 5]

In [188]:
nums3

[1, 2, 3, 4, 5]

In [189]:
nums1==nums3

True

In [190]:
nums1 is nums3

False

use == to compare the contents inside of two lists. Do they hold the same value?

use <em>is</em> to compare the identity of two lists. Are they the same container in memory?

In [191]:
[1,2]==[1,2]

True

In [192]:
[1,2] is [1,2]

False

join() and split()

In [193]:
full_name='Olusola Festus Adekunle'

In [194]:
full_name.split()

['Olusola', 'Festus', 'Adekunle']

In [195]:
full_name.split(' ')

['Olusola', 'Festus', 'Adekunle']

In [196]:
names = full_name.split(" ")

In [197]:
names

['Olusola', 'Festus', 'Adekunle']

In [198]:
letters = ["M", "A", "S", "H"]

In [199]:
"".join(letters)

'MASH'

In [200]:
"*".join(letters)

'M*A*S*H'

In [201]:
word ="Pensions"
word.split()

['Pensions']

In [202]:
new_word = "-".join(word)
new_word

'P-e-n-s-i-o-n-s'

In [203]:
new_word.split('-')

['P', 'e', 'n', 's', 'i', 'o', 'n', 's']

In [204]:
print(" ".join(names))
names

Olusola Festus Adekunle

['Olusola', 'Festus', 'Adekunle']

In [205]:
first, middle, last= names
print(first, middle, last)

Olusola Festus Adekunle

In [206]:
colors = [255, 45, 33]
red, green, blue = colors

In [207]:
red

255

In [208]:
race_result =['bill', 'ted', 'tammy', 'jimbo', 'bilybob', 'pierre']
race_result

['bill', 'ted', 'tammy', 'jimbo', 'bilybob', 'pierre']

In [209]:
race_result

['bill', 'ted', 'tammy', 'jimbo', 'bilybob', 'pierre']

In [210]:
gold, silver, bronze, *losers= race_result

In [211]:
gold

'bill'

In [212]:
silver

'ted'

In [213]:
bronze

'tammy'

In [214]:
losers

['jimbo', 'bilybob', 'pierre']

### copy()
returns a <b>shallow copy</b> of a list. Nested objects are not copy

In [215]:
race_result

['bill', 'ted', 'tammy', 'jimbo', 'bilybob', 'pierre']

In [216]:
race1 = race_result.copy()

In [217]:
id(race1), id(race_result)

(2641930049536, 2641930045568)

In [218]:
race1

['bill', 'ted', 'tammy', 'jimbo', 'bilybob', 'pierre']

In [219]:
race1==race_result

True

In [220]:
race2= race_result[:]

In [221]:
race2

['bill', 'ted', 'tammy', 'jimbo', 'bilybob', 'pierre']

In [222]:
race1==race2

True

In [223]:
race1 is race2

False

In [224]:
list1 = [2,5,7, ['a', ['a1','a2', 'a3'],'b','c'], 9,11]
list1

[2, 5, 7, ['a', ['a1', 'a2', 'a3'], 'b', 'c'], 9, 11]

In [225]:
list1_copy = list1.copy()

In [226]:
list1_copy

[2, 5, 7, ['a', ['a1', 'a2', 'a3'], 'b', 'c'], 9, 11]

### deepcopy
Copy sub-lists

In [227]:
import copy
list3 = copy.deepcopy(list1)
list3

[2, 5, 7, ['a', ['a1', 'a2', 'a3'], 'b', 'c'], 9, 11]

### Randomly pick a value in a list

In [254]:
import random
new_names = names+ ["Jery", "Kelly", "Ahmed"]

winner = random.choice(new_names)
print("winner: "+ winner)
names

winner: Adekunle

['Olusola', 'Festus', 'Adekunle']

In [257]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lucky_3 = random.choices(numbers,k=3)
lucky_3

[4, 4, 10]

##### <b>random.choices</b> sometimes contains duplicate elements

In [262]:
random.sample(numbers, k=3)

[9, 5, 8]

In [263]:
cities=['New York', 'Boston', 'Atlanta', 'Dallas']
outfile = open('cities.txt', 'w')
outfile.writelines(cities)
outfile.close()

In [264]:
outfile = open('cities.txt', 'r')
out=outfile.readlines()
outfile.close()
print(out)

['New YorkBostonAtlantaDallas']

### List Comprehension
A list comprehension is a concise expression that creates a new list by
iterating over the elements of an existing list.

In [265]:
list1

[2, 5, 7, ['a', ['a1', 'a2', 'a3'], 'b', 'c'], 9, 11]

In [268]:
list= [1,2,3,4,5]
list2 = [item for item in list]
print(list, list2)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [269]:
list == list2

True

In [270]:
list is list2

False

In [271]:
list > list2

False

In [272]:
# multiple element of list by 2
list_2 = [item*2 for item in list]
list_2

[2, 4, 6, 8, 10]

Using if Clauses with List Comprehensions

In [274]:
# find elements < 10
list1= [1, 12, 2, 20, 3, 15, 4]
list2 = []
for el in list1:
    if el< 10:
        list2.append(el)
        
print(list2)

[1, 2, 3, 4]

In [275]:
# using list comprehension
list2 = [item for item in list1 if item < 10]
list2

[1, 2, 3, 4]

In [279]:
last_names=['Ade','Jackson', 'Smith', 'Hildebrandt', 'Jones']
short_names = [name for name in last_names if len(name)< 6]
short_names

['Ade', 'Smith', 'Jones']

In [280]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [282]:
[num for num in numbers if num%2!=0]

[1, 3, 5, 7, 9]

In [287]:
any([])

False

In [290]:
all([])

True

In [291]:
all?

Signature: all(iterable, /)
Docstring:
Return True if bool(x) is True for all values x in the iterable.

If the iterable is empty, return True.
Type:      builtin_function_or_method

In [292]:
any?

Signature: any(iterable, /)
Docstring:
Return True if bool(x) is True for any x in the iterable.

If the iterable is empty, return False.
Type:      builtin_function_or_method

### Generator Expression
A generator expression is similar to a list comprehension, but creates an iterable
generator object that produces values on demand

In [293]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end='  ')

9  49  1  81  25