In [2]:
high_scores =[]
high_scores

[]

In [3]:
type(high_scores)

list

In [4]:
high_scores =[99,78,56,50,20,12]

In [5]:
high_scores

[99, 78, 56, 50, 20, 12]

In [6]:
names =['Ade', 'Ola', 'Naomi', 'Feran']

In [7]:
names

['Ade', 'Ola', 'Naomi', 'Feran']

In [8]:
stuff=[4, 1.2, 'Ade', 'Yellow', True]
stuff

[4, 1.2, 'Ade', 'Yellow', True]

list function

In [9]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [10]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

Accessing Data in Lists
list[index]

In [11]:
wait_list=['Tom', 'Arya', 'Amir']
wait_list[0]

'Tom'

In [12]:
"hello"[0]

'h'

In [13]:
wait_list[2]

'Amir'

In [14]:
len(wait_list)

3

Updating List Elements

In [15]:
nums =[7,8,9]
nums

[7, 8, 9]

In [16]:
nums[1] = 12
nums

[7, 12, 9]

Given the following list

cheeses = ["Brie", "Chevre", "Taleggio", "Mozzarella", "Gouda", "Manchego", "Cheddar"]
How would we access "Gouda" in the list?

In [17]:
cheeses = ["Brie", "Chevre", "Taleggio", "Mozzarella", "Gouda", "Manchego", "Cheddar"]
print(cheeses [-3])
print(cheeses [4])

Gouda
Gouda

### append() and extend() list methods

In [18]:
wait_list.append('Rosa')

In [19]:
wait_list

['Tom', 'Arya', 'Amir', 'Rosa']

In [20]:
wait_list.append('Ils')

In [21]:
wait_list

['Tom', 'Arya', 'Amir', 'Rosa', 'Ils']

In [22]:
# extend() - add list to a list
people =['Charlie', 'Drew', 'Emi']

In [23]:
wait_list.extend(people)

In [24]:
wait_list

['Tom', 'Arya', 'Amir', 'Rosa', 'Ils', 'Charlie', 'Drew', 'Emi']

insert() method
insert(index, element)
inserts element before specified index

In [25]:
nums =[7,3,9]
nums.insert(1, "h1")
nums

[7, 'h1', 3, 9]

In [26]:
wait_list.insert(0, 'Jasmine')
wait_list

['Jasmine', 'Tom', 'Arya', 'Amir', 'Rosa', 'Ils', 'Charlie', 'Drew', 'Emi']

In [27]:
wait_list.insert(0, "Arla")
wait_list

['Arla',
 'Jasmine',
 'Tom',
 'Arya',
 'Amir',
 'Rosa',
 'Ils',
 'Charlie',
 'Drew',
 'Emi']

### List Slicing
list[start: stop: step]

In [28]:
wait_list[5:]

['Rosa', 'Ils', 'Charlie', 'Drew', 'Emi']

In [29]:
wait_list[:5]

['Arla', 'Jasmine', 'Tom', 'Arya', 'Amir']

In [30]:
wait_list[::2]

['Arla', 'Tom', 'Amir', 'Ils', 'Drew']

In [31]:
nums = [4,5,6,7]

In [32]:
nums[1:3]

[5, 6]

In [33]:
nums[1:3] = ['a','b']
nums

[4, 'a', 'b', 7]

In [34]:
nums[1:3] = ['a','b','c','d', ]
nums

[4, 'a', 'b', 'c', 'd', 7]

In [35]:
nums[1:5] =[5]

In [36]:
nums

[4, 5, 7]

### Deletion methods: clear(), pop(), popitems(), remove()

In [37]:
# clear()
langs =["Python", "C", "JavaScript", "C"]
langs

['Python', 'C', 'JavaScript', 'C']

In [38]:
langs.clear()

In [39]:
langs

[]

In [40]:
nums.clear()
nums

[]

In [41]:
# remove() - removes first match
nums = [2, 4, 6, 8, 2, 4]

In [42]:
nums.remove(4)
nums

[2, 6, 8, 2, 4]

In [43]:
wait_list

['Arla',
 'Jasmine',
 'Tom',
 'Arya',
 'Amir',
 'Rosa',
 'Ils',
 'Charlie',
 'Drew',
 'Emi']

In [44]:
wait_list.remove("Ils")
wait_list

['Arla', 'Jasmine', 'Tom', 'Arya', 'Amir', 'Rosa', 'Charlie', 'Drew', 'Emi']

### pop()
removes last element from the list

In [45]:
wait_list.pop()

'Emi'

In [46]:
wait_list

['Arla', 'Jasmine', 'Tom', 'Arya', 'Amir', 'Rosa', 'Charlie', 'Drew']

In [47]:
wait_list.pop()

'Drew'

In [48]:
# pop(index)
wait_list.pop(0)

'Arla'

In [49]:
wait_list

['Jasmine', 'Tom', 'Arya', 'Amir', 'Rosa', 'Charlie']

In [50]:
wait_list.pop(3)

'Amir'

In [51]:
wait_list

['Jasmine', 'Tom', 'Arya', 'Rosa', 'Charlie']

In [52]:
next_person = wait_list.pop(0)

In [53]:
next_person

'Jasmine'

In [54]:
wait_list

['Tom', 'Arya', 'Rosa', 'Charlie']

In [55]:
# del - delete element from list (no element is returned)
del wait_list[0]

In [56]:
wait_list

['Arya', 'Rosa', 'Charlie']

In [57]:
nums

[2, 6, 8, 2, 4]

In [58]:
del nums[3:] # delete from index 3 to the end of lis

In [59]:
nums

[2, 6, 8]

In [60]:
nums = list(range(10))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
# delete odd number
del nums[1::2]

In [62]:
nums

[0, 2, 4, 6, 8]

### Iterating over List
Looping list

In [63]:
for n in nums:
    print(n, end = ", ")

0, 2, 4, 6, 8,

In [64]:
for n in nums:
    print(n, sep="")

0
2
4
6
8

In [65]:
# using while
idx=0
while idx < len(nums):
    print(f'Accessing element at index {idx}')
    idx+=1

Accessing element at index 0
Accessing element at index 1
Accessing element at index 2
Accessing element at index 3
Accessing element at index 4

### List and Loop Pattern

In [66]:
lando_2021_result =[4,3,5,8,3,5,5,5,3,4,14,10,2,7,7,8,10,10,9,10,7]
lando_2021_result

[4, 3, 5, 8, 3, 5, 5, 5, 3, 4, 14, 10, 2, 7, 7, 8, 10, 10, 9, 10, 7]

In [67]:
sum(lando_2021_result)

139

In [68]:
lando_2021_result

[4, 3, 5, 8, 3, 5, 5, 5, 3, 4, 14, 10, 2, 7, 7, 8, 10, 10, 9, 10, 7]

In [69]:
def average(nums):
    total =0
    for num in nums:
        total +=num
    return total/len(nums)

In [70]:
average([2,4,6,8])

5.0

In [71]:
min = lando_2021_result[0]
for num in lando_2021_result:
    if num< min:
        min=num

print(min)

2

In [73]:
langs

[]