## Nested Lists

In [1]:
couples =[['Beyonce', 'Jay-Z'], ['Naomi', 'Olusola'], ['Jonny','June'], ['John', 'Yoko'], ['Will','Jada']]

In [2]:
couples

[['Beyonce', 'Jay-Z'],
 ['Naomi', 'Olusola'],
 ['Jonny', 'June'],
 ['John', 'Yoko'],
 ['Will', 'Jada']]

In [3]:
len(couples)

5

In [4]:
couples[1]

['Naomi', 'Olusola']

In [5]:
couples[1][0]

'Naomi'

In [6]:
couples

[['Beyonce', 'Jay-Z'],
 ['Naomi', 'Olusola'],
 ['Jonny', 'June'],
 ['John', 'Yoko'],
 ['Will', 'Jada']]

In [7]:
# Access Yoko
couples[3][1]

'Yoko'

In [8]:
# Access all element of list
for couple in couples:
    for person in couple:
        print(f'Sending invitation to ...{person}')

Sending invitation to ...Beyonce
Sending invitation to ...Jay-Z
Sending invitation to ...Naomi
Sending invitation to ...Olusola
Sending invitation to ...Jonny
Sending invitation to ...June
Sending invitation to ...John
Sending invitation to ...Yoko
Sending invitation to ...Will
Sending invitation to ...Jada

### List Operations

In [9]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [10]:
evens =[2,4,6]
odds = [1,3,5]

In [11]:
odds+ evens

[1, 3, 5, 2, 4, 6]

In [12]:
combined= odds+ evens
combined

[1, 3, 5, 2, 4, 6]

In [20]:
# Repeating original list
odds *3

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [15]:
odds

[1, 3, 5]

In [17]:
'h1' * 10

'h1h1h1h1h1h1h1h1h1h1'

In [21]:
"a" in "happy"

True

In [22]:
5 in evens

False

In [23]:
5 in odds

True

In [24]:
# 
flavors =['chocolate', 'vanilla', 'lemon', 'strawberry']
response = input('What flavor would you like? ')

while response.lower() not in flavors:
    response= input("I don't know that flavor! Try again: ")

print(f'You choose {response.lower()}')

You choose lemon

### Sort(), reverse() and count()

In [26]:
langs=['Python', 'C', "JavaScript", "C"]
langs

['Python', 'C', 'JavaScript', 'C']

In [27]:
langs.count('C')

2

In [28]:
langs.count('JavaScript')

1

In [29]:
langs.reverse()

In [30]:
langs

['C', 'JavaScript', 'C', 'Python']

In [31]:
langs.sort()

In [33]:
langs.sort()

In [34]:
langs

['C', 'C', 'JavaScript', 'Python']

In [41]:
nums = [3,45,-4,6,8,1,2]
sorted(nums)

[-4, 1, 2, 3, 6, 8, 45]

In [37]:
nums

[3, 45, 6, 8, 1, 2]

In [38]:
nums.sort()

In [39]:
nums

[1, 2, 3, 6, 8, 45]

In [40]:
nums.reverse()
nums

[45, 8, 6, 3, 2, 1]

In [43]:
nums = [3,45,-4,6,8,1,2]
nums

[3, 45, -4, 6, 8, 1, 2]

In [44]:
ascii?

Signature: ascii(obj, /)
Docstring:
Return an ASCII-only representation of an object.

As repr(), return a string containing a printable representation of an
object, but escape the non-ASCII characters in the string returned by
repr() using \\x, \\u or \\U escapes. This generates a string similar
to that returned by repr() in Python 2.
Type:      builtin_function_or_method

In [48]:
id(34)

2179654026512

In [49]:
id(True)

140725274037096

In [50]:
id([])

2177625767616

In [52]:
id([])

2177590207296

In [53]:
id(nums)

2177594214656

In [54]:
id(nums)

2177594214656

In [55]:
list2 = nums

In [56]:
list2

[3, 45, -4, 6, 8, 1, 2]

In [57]:
nums

[3, 45, -4, 6, 8, 1, 2]

In [64]:
nums1=[1,2,3,4]
nums2=nums1

In [66]:
id(nums1)

2177625907712

In [67]:
id(nums2)

2177625907712

In [68]:
nums1.append(5)

In [72]:
nums1, nums2

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [73]:
id(nums1), id(nums2)

(2177625907712, 2177625907712)

### Comparing Lists: == vs is

In [75]:
nums3=[1, 2, 3, 4, 5]

In [76]:
nums1

[1, 2, 3, 4, 5]

In [77]:
nums3

[1, 2, 3, 4, 5]

In [79]:
nums1==nums3

True

In [80]:
nums1 is nums3

False

use == to compare the contents inside of two lists. Do they hold the same value?

use <em>is</em> to compare the identity of two lists. Are they the same container in memory?

In [81]:
[1,2]==[1,2]

True

In [82]:
[1,2] is [1,2]

False

join() and split()

In [83]:
full_name='Olusola Festus Adekunle'

In [84]:
full_name.split()

['Olusola', 'Festus', 'Adekunle']

In [85]:
full_name.split(' ')

['Olusola', 'Festus', 'Adekunle']

In [86]:
names = full_name.split(" ")

In [87]:
names

['Olusola', 'Festus', 'Adekunle']

In [88]:
letters = ["M", "A", "S", "H"]

In [90]:
"".join(letters)

'MASH'

In [91]:
"*".join(letters)

'M*A*S*H'

In [92]:
word ="Pensions"
word.split()

['Pensions']

In [93]:
new_word = "-".join(word)
new_word

'P-e-n-s-i-o-n-s'

In [94]:
new_word.split('-')

['P', 'e', 'n', 's', 'i', 'o', 'n', 's']