## Dictionary
- indexed by keys
- holds key-value pairs
- keys can be any immutable type: number, strings, tuple, boolean etc
- Values can be anything

In [2]:
{}

{}

In [3]:
dict()

{}

In [4]:
order={"cost": 3.5, "quantity": 2}
order

{'cost': 3.5, 'quantity': 2}

In [5]:
movie={"title": "Amadeus", "imdb_score": 8.3}
movie

{'title': 'Amadeus', 'imdb_score': 8.3}

In [6]:
{3: "three"}

{3: 'three'}

In [7]:
order["quantity"]

2

In [8]:
movie

{'title': 'Amadeus', 'imdb_score': 8.3}

In [9]:
movie["title"]

'Amadeus'

In [10]:
# movie["Title"] # thriew error - case sensitive

In [11]:
stuff={True: "LOL", 45: "hi!"}
stuff

{True: 'LOL', 45: 'hi!'}

In [12]:
stuff[45]

'hi!'

In [13]:
movie['title']

'Amadeus'

In [14]:
movie['title'] ='AMADUES'

In [15]:
movie['title']

'AMADUES'

In [16]:
movie['language'] = 'English'

In [17]:
movie['language']

'English'

In [18]:
movie['rating']='R'

In [19]:
movie

{'title': 'AMADUES', 'imdb_score': 8.3, 'language': 'English', 'rating': 'R'}

In [20]:
movie["is_great"] = True

In [21]:
movie

{'title': 'AMADUES',
 'imdb_score': 8.3,
 'language': 'English',
 'rating': 'R',
 'is_great': True}

### Get method and in operator

In [22]:
prices = {
    "arugala": 1.10,
    "basil":2.54,
    "blackberries": 4.93,
    "blueberries": 2.88,
    "coconut": 7.15,
    "fennel": 3.6
}
prices

{'arugala': 1.1,
 'basil': 2.54,
 'blackberries': 4.93,
 'blueberries': 2.88,
 'coconut': 7.15,
 'fennel': 3.6}

In [23]:
'coconut' in prices

True

Get method wil look for a given key in a dictionary

In [24]:
prices.get('basil')

2.54

In [25]:
prices.get('maggi')

### Dictionary pop(), clear() and del

list.pop(x)

In [26]:
prices

{'arugala': 1.1,
 'basil': 2.54,
 'blackberries': 4.93,
 'blueberries': 2.88,
 'coconut': 7.15,
 'fennel': 3.6}

In [27]:
prices.pop('coconut')

7.15

In [28]:
prices

{'arugala': 1.1,
 'basil': 2.54,
 'blackberries': 4.93,
 'blueberries': 2.88,
 'fennel': 3.6}

popitem()
deletes the most recently added key-value pair. It returns the item as a tuple

In [29]:
prices

{'arugala': 1.1,
 'basil': 2.54,
 'blackberries': 4.93,
 'blueberries': 2.88,
 'fennel': 3.6}

In [30]:
prices.popitem()

('fennel', 3.6)

In [31]:
prices["orange"] = 1.2

In [32]:
prices

{'arugala': 1.1,
 'basil': 2.54,
 'blackberries': 4.93,
 'blueberries': 2.88,
 'orange': 1.2}

In [33]:
prices.popitem()

('orange', 1.2)

In [34]:
prices

{'arugala': 1.1, 'basil': 2.54, 'blackberries': 4.93, 'blueberries': 2.88}

del 
removes item but not returning the item

In [35]:
del prices["basil"]

In [36]:
prices

{'arugala': 1.1, 'blackberries': 4.93, 'blueberries': 2.88}

In [37]:
prices.clear()

In [38]:
prices

{}

Dictionaries are mutable

In [39]:
d1 = {1: "one", 2: "two"}
d1

{1: 'one', 2: 'two'}

In [40]:
d2 =d1

In [41]:
print(id(d1))
print(id(d2))

2697771720448
2697771720448

In [42]:
d1 is d2

True

In [43]:
d3 = d1.copy()

In [44]:
d1 is d3

False

In [45]:
d1 == d3

True

### Iterating Dicts: Keys(), values(), items()

In [46]:
prices

{}

In [47]:
prices = {'arugala': 1.1,
          'basil': 2.54,
          'blackberries': 4.93,
          'blueberries': 2.88,
          'fennel': 3.6}
prices

{'arugala': 1.1,
 'basil': 2.54,
 'blackberries': 4.93,
 'blueberries': 2.88,
 'fennel': 3.6}

In [48]:
test_scores= {
    "Marsha": 78,
    "Baker": 69,
    "Rosa": 92,
    "Leif": 97,
    "Peng": 61,
    "Juan": 73,
    "Esteban": 84,
    "Amir": 91,
    "Sakura": 99
}
test_scores

{'Marsha': 78,
 'Baker': 69,
 'Rosa': 92,
 'Leif': 97,
 'Peng': 61,
 'Juan': 73,
 'Esteban': 84,
 'Amir': 91,
 'Sakura': 99}

In [49]:
test_scores.keys()

dict_keys(['Marsha', 'Baker', 'Rosa', 'Leif', 'Peng', 'Juan', 'Esteban', 'Amir', 'Sakura'])

In [50]:
test_scores.values()

dict_values([78, 69, 92, 97, 61, 73, 84, 91, 99])

In [51]:
for std in test_scores.keys():
    print(std )

Marsha
Baker
Rosa
Leif
Peng
Juan
Esteban
Amir
Sakura

In [52]:
for score in test_scores.values():
    print(score)

78
69
92
97
61
73
84
91
99

In [53]:
# avarage
total =0
for score in test_scores.values():
    total += score
avg = total/ len(test_scores)
print(avg)

82.66666666666667

In [54]:
test_scores.items()

dict_items([('Marsha', 78), ('Baker', 69), ('Rosa', 92), ('Leif', 97), ('Peng', 61), ('Juan', 73), ('Esteban', 84), ('Amir', 91), ('Sakura', 99)])

In [55]:
for key, value in test_scores.items():
    print(f'{key} -> {value}')

Marsha -> 78
Baker -> 69
Rosa -> 92
Leif -> 97
Peng -> 61
Juan -> 73
Esteban -> 84
Amir -> 91
Sakura -> 99

In [56]:
# find highest score
max_score=0
best_student=""
for key, value in test_scores.items():
   # print(f'{key} -> {value}')
   if (value> max_score):
       max_score= value
       best_student = key
print(f"{best_student} is the best student with score: {max_score}")

Sakura is the best student with score: 99

### Updating dictionary
update() method will update a dictionary using the key-value pairs from a second dictionary, passed as the argument.

In [57]:
order["quantity"] = 12
order

{'cost': 3.5, 'quantity': 12}

In [58]:
order.update({"product": "taco", "date": "03/14/2022"})
order

{'cost': 3.5, 'quantity': 12, 'product': 'taco', 'date': '03/14/2022'}

#### Dictionary merging
- update and **

In [59]:
# update
d1 ={'a': 1, 'b': 2, 'c': 'Cat','d': 4}
d2 = {'d': 'dog', 'e':5}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 'Cat', 'd': 'dog', 'e': 5}

using magic **

In [60]:
print(d1)
print(d2)

{'a': 1, 'b': 2, 'c': 'Cat', 'd': 'dog', 'e': 5}
{'d': 'dog', 'e': 5}

In [61]:
d3= {**d1, **d2}
d3

{'a': 1, 'b': 2, 'c': 'Cat', 'd': 'dog', 'e': 5}

In [62]:
d1 = {'a': 1, 'b': 2, 'c': 'Cat'}
d2

{'d': 'dog', 'e': 5}

In [63]:
# dict union
d3 = d1 | d2
d3

{'a': 1, 'b': 2, 'c': 'Cat', 'd': 'dog', 'e': 5}

### List and Dictionary combined

In [64]:
prices

{'arugala': 1.1,
 'basil': 2.54,
 'blackberries': 4.93,
 'blueberries': 2.88,
 'fennel': 3.6}

In [65]:
produce={
    'arugala':
        {'price': 1.1,
         'qty': 61,
         'organic': True,
         'producer': 'Blue Kitty Farms'},
    'basil': 
        {'price': 7.15,
         'qty': 61,
         'organic': False,
         'producer': 'Blue Kitty Farms'}, 
    'blackberries': 4.93,
    'blueberries': 2.88,
    'coconut': 7.15,
    'fennel': 3.6
    }
produce

{'arugala': {'price': 1.1,
  'qty': 61,
  'organic': True,
  'producer': 'Blue Kitty Farms'},
 'basil': {'price': 7.15,
  'qty': 61,
  'organic': False,
  'producer': 'Blue Kitty Farms'},
 'blackberries': 4.93,
 'blueberries': 2.88,
 'coconut': 7.15,
 'fennel': 3.6}

In [66]:
produce['basil']['producer']

'Blue Kitty Farms'

In [67]:
# dict and list
test_scores= {'Marsha': [78, 80, 89],
 'Baker': [69,65, 52],
 'Rosa': [92, 65,88],
 'Leif': 97,
 'Peng': 61,
 'Juan': 73,
 'Esteban': 84,
 'Amir': 91,
 'Sakura': 99}
test_scores

{'Marsha': [78, 80, 89],
 'Baker': [69, 65, 52],
 'Rosa': [92, 65, 88],
 'Leif': 97,
 'Peng': 61,
 'Juan': 73,
 'Esteban': 84,
 'Amir': 91,
 'Sakura': 99}

In [68]:
# list of dictionary
wait_list=[
   { "email": 'tiffy@yahoo.com',
    'location': 'Lagos',
    'first_name': 'Tiffyany'},
   {"email": 'john@yahoo.com',
    'location': 'Lagos',
    'first_name': 'John'}
]

wait_list

[{'email': 'tiffy@yahoo.com', 'location': 'Lagos', 'first_name': 'Tiffyany'},
 {'email': 'john@yahoo.com', 'location': 'Lagos', 'first_name': 'John'}]

In [75]:
for dic in wait_list:
    print(dic.values())
    for key, val in dic.items():
        print(f'{key} -> {val}')

dict_values(['tiffy@yahoo.com', 'Lagos', 'Tiffyany'])
email -> tiffy@yahoo.com
location -> Lagos
first_name -> Tiffyany
dict_values(['john@yahoo.com', 'Lagos', 'John'])
email -> john@yahoo.com
location -> Lagos
first_name -> John